<div class="container">
<div *ngIf="planets$ | async as planets">
<table class="table">
  <thead>
    <tr>
      <th class="col">Name</th>
      <th class="col">Diameter</th>
      <th class="col">Population</th>
      <th class="col">Climate</th>
      <th class="col">Gracity</th>
      <th class="col">Orbital period</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let planet of planets">
      <td>{{ planet.name }}</td>
      <td>{{ planet.diameter }}</td>
      <td>{{ planet.population }}</td>
      <td>{{ planet.climate }}</td>
      <td>{{ planet.gravity }}</td>
      <td>{{ planet.orbital_period }}</td>
    </tr>
  </tbody>
</table>
</div>

  <div *ngIf="planetsInProgress$ | async">loading...</div>
  <div *ngIf="(planetError$ | async)?.status===404">error</div>
</div>